{% extends 'basic.html' %}

{% block css %}
<style>
    h1{
        text-align: center;
        font-size: 80px;
        color: rgb(204, 166, 240);
        font-weight: 400;
         font-family: 'Raleway', sans-serif;
        margin:20px;
    }
    h5{
        margin:10px;
        color:chartreuse;
        text-align: center;

    }
</style>

{% endblock %}

{% block body %}
    
    <h1>{{products.product_name}}</h1>
    <h5>{{products.desc}}</h5>

    

    <img src="/media/{{products.image}}" alt="">

{% endblock %}